:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-card {
  width: 100%;
  margin: 20px 0;

  mat-card-header {
    justify-content: space-between;
    align-items: center;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  width: 100%;
}

@media (min-width: 768px) {
  mat-card {
    width: 640px;
  }
}
