<form #searchForm="ngForm">
  <mat-form-field>
    <input matInput type="text" placeholder="Search" name="search" ngModel #contactSearch>
    <button matPrefix mat-icon-button aria-label="Close" type="button">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>

@if(addContactFormOpen()) {
<app-contact-form (close)="closeAddContactForm()" />
} @else {
<button mat-flat-button type="button" class="add-contact-button" (click)="openAddContactForm()">Add Contact</button>
}

@for (contact of contacts(); track contact.id) {
<app-contact-list-item [contact]="contact" />
}